#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.card .Count {
  margin-bottom: 50px;
  background-color: rgb(146, 184, 203);
}

.card .Increment {
  background-color: rgb(81, 233, 81);
}

.card .Reset {
  margin: 0px 30px;
  background-color: rgb(244, 245, 242);
}

.card .Decrement {
  background-color: rgb(226, 17, 17);
}
